# Ignore dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Ignore test coverage reports
/coverage

# Ignore Next.js build output
/.next/
/out/

# Ignore production build output
/build

# Ignore PEM files
*.pem

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local environment files
.env*.local

# Ignore Vercel related files
.vercel

# Ignore TypeScript build artifacts
*.tsbuildinfo
next-env.d.ts

# Ignore videos
*.mp4
*.avi
*.mov
# Add more video file extensions if needed ......................
